<%- include('blocks/header', {bot:bot, user: user, auth: auth}) %>
<html>
  <title>
    <%= bot.user.username %> - Admin Panel
  </title>
<h1 style="color:white">
  Coming soon!
  </h1>
</html>
<footer>
  <%- include('blocks/footer')%>
</footer>

<style>
  .display-3{
   color:white;
   text-align:center;
   font-size: 50px; 
}
  
.media-body{
color:white;
font-size:15px;
margin-top:20px;
  }
  .inv-man{
    margin-top: -33px;
    margin-left: 1000px
  }

</style>