<%- include('blocks/header', {bot:bot, user: user, auth: auth}) %>

<html>
  <title>
    <%= bot.user.username %> - Premium
  </title>
  <body>
<center><p>
  <h1 style="color:white;">
    PHOENIX.xyz Premium
  </h1>
  </p>
  <br>
    <p>
    <h4 style="color:grey;">
    </p>
    <br>
    <br>
    <br>
    <p>
      <div class="container">
    <div class="card">
<div class="container">
<p><strong style="font-size: 30px;">Premium</strong>
  </p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <p>
      <a href="/upgrade" ><button class="button">Get Premium now!</button></a>
      </p>
  </div>
   <div class="card" style="margin-left:300px;">
<div class="container">
<p><strong style="font-size: 30px;">Premium</strong>
  </p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <p>
    <a href="https://discord.gg/RPVQdyw" ><button class="button">Get Premium now!</button></a>
     </p>
  </div>
  </div>
    </p></center>
    <footer>
      <%- include('blocks/footer')%>
    </footer>
  </body>
</html>
<style>
   .container{
        display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    display: flex;
    animation: fadeIn 0.7s;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
  }
  .card{
    background-color: #36393f!important;
    color: white;
    height: 340px;
    width: 320px;
    padding: 10px;
    padding-top: 10px;
    border-radius: 8px;
  }
  
  .button {
  background-color:#36393f; 
  color: #EC7063;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-color:#EC7063;
  border-radius:4px;
}
  .button:hover{
     background-color:#EC7063;
     color:white;
    border-radius:4px;
  }
</style>